/**
 * A cloudy day
 * Theme by carettedonny.be
 */
#header h1 {
	float: left;
  	font-size: 300%;
	margin-top: 40px;
	letter-spacing:normal;
	clear: left;
	width: auto;
	height: 50px;
}
#contentcontainer #contentright {
	width: 240px;
}