/**
 * A cloudy day
 * Theme by carettedonny.be
 */
#header h1 {
	font-size: 120%;
}
#top, #bottompage, #contentright, #contentleft #footer {
	display: none;
}
body {
	background: none;
}
body, input, textarea, select {
  color: #000;
  font-size:12px;
}
#header {
	margin: 0;
	padding: 0;
	width: 650px;
	
}
#contentcontainer, #container, #contentleft, #page {
	margin: 0;
	padding: 0;
	float: none;
	width: auto;	
}
#contentcontainer #contentleft #page {
	width: 650px;
}
