body {
	background: #ecf8f0 url("images/cartoon-clouds.jpg") repeat;
	margin: 0;
	padding: 0;
	color: #333;
  	font: 12px/170% Verdana, Geneva, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;	
	color: #336699;	
}
.node h1, .node h2, .node h3, .node h4, .node h5, .node h6 {
	color: #40b4c4;
}
h1 {
	font-size: 170%;
}
h2 {
	font-size: 160%;
	line-height: 130%;
}

h3 {
  	font-size: 140%;
}

h4 {
  	font-size: 130%;
}

h5 {
  	font-size: 120%;
}

h6 {
  	font-size: 110%;
}
ul, quote, code, fieldset {
  	margin: .5em 0;
}
table {
  	margin: 1em 0;
  	width: 100%;
}
thead th {
  	border-bottom: 2px solid #40b4c4;
  	color: #000;
  	font-weight: bold;
}

th a:link, th a:visited {
  	color: #369;
}

td, th {
  	padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  	border: solid #40b4c4;
  	border-width: 1px 0;
}

tbody {
	border-top: none;
}

tr.odd, tr.info {
  	background-color: #edf5fa;
}

tr.even {
  	background-color: #fff;
}

tr.drag {
  	background-color: #fffff0;
}

tr.drag-previous {
  	background-color: #ffd;
}

tr.odd td.active {
  	background-color: #ddecf5;
}

tr.even td.active {
  	background-color: #e6f1f7;
}

td.region, td.module, td.container, td.category {
  	border-top: 1.5em solid #fff;
  	border-bottom: 1px solid #b4d7f0;
  	background-color: #d4e7f3;
  	color: #455067;
  	font-weight: bold;
}
p {
	margin: 0.6em 0 1.2em;
	padding: 0;
}
a, a:link {
	color: #336699;	
}
a:hover {
	color: #40b4c4;	
}
a:active, a:focus {
	color: #333;	
}
hr {
  	margin: 0;
  	padding: 0;
  	border: none;
  	height: 2px;
  	background: #40b4c4;
}
input, fieldset {
	border: 1px solid #40b4c4;
	padding: 4px;
}
.form-text {
	padding: 3px 5px;
}
fieldset .collapsible {
	margin-bottom: 5px;
}
.form-submit {
	padding: 3px;
	background: #40b4c4;
	color: #fff;
	border: 1px solid #369;
	font-weight: bold;
	margin-top: 10px;
}
tr.info {
	background: #40b4c4;
}
#contentcontainer ul li {
	list-style-image: url("images/list-item.gif");
	margin-left: 5px;
}
#top {
	background: #333;
	border-bottom: 2px solid #fff;
	margin: 0;
	padding: 0;
}
#top #topmenu {
	height: 28px;
	width: 960px;
	margin: 0 auto;
	float: none;
}
#header {
	height: auto;
	width: 960px;
	margin: 15px auto;
	float: none;
	clear: both;
	color: #333;
	vertical-align: middle;
}
#header h1 {
	float: left;
  	font-size: 300%;
	margin-top: 40px;
	letter-spacing: 0.1em;
	clear: left;
	width: auto;
}
#header a {
	color: #369;
	text-decoration: none;
}
#top #topmenu #login-register {
	float: right;
	clear: right;
	color: #40b4c4;
	padding-top: 4px;
}
#top #topmenu #login-register a {
	color: #40b4c4;
	text-decoration: underline;
}
#top #topmenu #login-register a:hover, #top #topmenu #login-register a:focus {
	text-decoration: none;
}
#header #headertitle, #header #logo {
	float: left;
	width: auto;
}
#header #headertitle a {
	line-height: normal;
}
#header #logo {
	margin-right: 30px;
	text-align: right;
	float: right;
	margin-bottom: 5px;
}
#header .site-slogan {
	float: left;
	color: #000;
	clear: left;
	margin: 15px;
	letter-spacing: 0.2em;
	font-size: 1.2em;
	width: 750px;
}
/******************* PRIMARY MENU (TOP) *******************************************/
#top #topmenu ul.menu {
	margin: 0;
	padding: 0;
}
#top #topmenu ul.menu li {
  	display: block;
  	float: left;
	padding: 0;
	margin: 0;
  	position: relative;
  	width:  auto;
	overflow: visible;
	z-index: 100;
}
#top #topmenu ul.menu li a {
	color: #fff;
	padding: 4px 20px;
  	display: block;
  	text-decoration: none;
	margin: 0;
}
#top #topmenu ul.menu li a:hover, #top #topmenu ul.menu li:hover {
	background: #40b4c4;
	color: #fff;
}
#top #topmenu ul.menu li a.active, #top #topmenu ul.menu li.active-trail {
	background: #40b4c4;
	color: #fff;	
}
#top #topmenu ul.menu li ul {
  	left: -9999em;
  	margin: 0;
  	padding: 0;
  	position: absolute;
  	width: auto;
}
#top #topmenu ul.menu li:hover ul,
#top #topmenu ul.menu li.hover ul {
  	display: block;
  	left: auto;
} 
#top #topmenu ul.menu li ul li {
  	float: left;
  	clear: both;
  	height: auto;
  	margin: 0;
  	padding: 0;
  	width: 200px;
}
#top #topmenu ul.menu li ul li a,
#top #topmenu ul.menu li ul li a:link,
#top #topmenu ul.menu li ul li a:visited {
	background: #40b4c4;
	color: #fff;
	border-bottom: 1px solid #fff;
  	width: auto;
}
#top #topmenu ul.menu li ul li.last a {
  	border-bottom: none;
}
#top #topmenu ul.menu li ul li a:hover {
 	text-decoration: underline;
 	background: #fff;
 	color: #40b4c4;
}
#top #topmenu ul.menu li ul li a.active {
	text-decoration: underline;
}
#top #topmenu ul.menu li ul li ul.menu {
  	left: -9999em;
  	margin: 0;
  	padding: 0;
  	position: absolute;
  	width: auto;
}
#top #topmenu ul.menu li ul li:hover ul.menu,
#top #topmenu ul.menu li ul li.hover ul.menu {
  	display: block;
  	left: 200px;
  	top: 0;
}
#top #topmenu ul.menu ul.menu ul.menu ul.menu {
	display: none;
}
#top #topmenu ul.menu ul.menu ul.menu ul.menu li a {
	border-bottom: 1px solid #fff;	
}
#top #topmenu ul.menu ul.menu ul.menu li:hover ul.menu,
#top #topmenu ul.menu ul.menu ul.menu li.hover ul.menu {
  	display: block;
  	left: 200px;
  	top: 0;
}
#top #topmenu ul.menu li.last, #top #topmenu ul.menu li li.last, #top #topmenu li.last {
	border-bottom: none;
}
#top #topmenu ul.menu ul.menu ul.menu li ul.menu li.last {
	border-bottom: none;
}
#top #topmenu ul.menu ul.menu ul.menu li ul.menu li.last a {
	display: block;
	border-bottom: none;
}
/*************************************************************************************/
#contentcontainer {
	margin: 0 auto;
	width: 980px;
}
#contentcontainer h2 a {
	text-decoration: none;
	color: #40b4c4;
}
#messagebox {
	width: 980px;
	margin: 10px auto;
	float: none;
	clear: both;
	padding: 5px;	
}
#container {
	float: left;
	padding-bottom: 178px;
}
#contentcontainer #contentleft {
	float: left;
	width: 720px;
}
#contentcontainer #contentleft #page {
	background: url("images/bg-transparant.png") repeat;
	background-repeat: repeat;
	padding: 10px;
	float: left;
	width: 700px;	
}
#contentcontainer #contentleft .node {
	background: #fff;
	margin-bottom: 20px;
	border: 3px solid #40b4c4;
	padding: 10px;
	min-height: 200px;
}
#contentcontainer #contentleft #mission {
	color: #fff;
	font-weight: bold;
	background: #40b4c4;
	padding: 10px;
	margin-bottom: 10px;
}
#contentcontainer #contentleft #mission p {
	margin: 0;
	padding: 0;
}
#contentcontainer #contentleft #mission a {
	color: #fff;
	text-decoration: underline;
}
#contentcontainer #contentleft #mission a:hover {
	text-decoration: none;
}
#contentcontainer #footer {
	float: left;
	clear: both;
	margin-top: 10px;
	padding: 0;
	width: 718px;
}
#contentcontainer #footer .block {
	float: left;
	clear: none;
	background: url("images/bg-transparant.png") repeat;
	background-repeat: repeat;	
	margin-right: 10px;
	padding: 10px;
	margin-bottom: 10px;
	width: auto;
	min-width: 160px;
}
#contentcontainer #footer .block h2 {
	background: #40b4c4;
	border: 3px solid #40b4c4;
	padding: 5px;
	color: #fff;
	font-size: 120%;
	margin-bottom: 5px;
}
#contentcontainer #footer .block .content {
	background: #fff;
	border: 3px solid #40b4c4;
	padding: 5px;	
}
#contentcontainer #contentright {
	float: right;
	width: 250px;
	padding: 0 0 10px 10px;
	clear: none;
}
#contentcontainer #contentright .block {
	background: url("images/bg-transparant.png") repeat;
	background-repeat: repeat;	
	padding: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}
#contentcontainer #contentright #search-block-form label {
	display: none;
}
#contentcontainer #contentright #search-block-form {
	margin-bottom: 5px;
}
#contentcontainer .searchdefault {
	color: #ccc;
}
#contentcontainer #contentright .block h2 {
	background: #40b4c4;
	border: 3px solid #40b4c4;
	padding: 5px;
	color: #fff;
	font-size: 120%;
	margin-bottom: 5px;
}
#contentcontainer #contentright .block .content {
	background: #fff;
	border: 3px solid #40b4c4;
	padding: 5px;	
}
#contentcontainer #contentright .block-user ul li {
	list-style-image: url("images/list-item.gif");
	margin-left: 5px;
}
#bottompage {
	height: 110px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: visible;
	float: left;
	clear: both;
}
#bottompage #skyline {
	height: 90px;
	background-image: url("images/bg-footer.gif");
	background-repeat: repeat-x;
}
#bottompage #bottomtext {
	background-color: #336699;
	height: 20px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}
#bottompage #bottomtext a {
	color: #fff;
}
#bottompage #bottomtext a:hover {
	text-decoration: none;
}
.options {
	margin-bottom: 10px;
}
ul.tabs {
	border: none;
	margin-bottom: 10px;
}
ul.tabs li a, ul.tabs li a:hover, ul.tabs li.active a {
	background: none;
	color: #fff;
	border: none;
}
ul.tabs li {
	border: 1px solid #333;
	background: #336699;
	color: #fff;
	padding: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-weight: bold;
}
ul.tabs li:hover, ul.tabs li.active {
	background: #40b4c4;
	border: 1px solid #333;
}
#messagebox .status, #messagebox .warning {
	background: #40b4c4;
	color: #333;
	font-weight: bold;
	border: 3px solid #369;
}
#messagebox .warning {
	background: #ffffca;	
}
#messagebox .messages {
	padding: 5px;
	margin-bottom: 5px;
}
#messagebox a:hover {
	color :#fff;
}
.poll .bar .foreground {
	background-color: #40b4c4;
}
ul.pager li {
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}
.item-list .pager li {
	padding: 0;
}
ul.pager li a {
	padding: 5px;
	background: #40b4c4;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
}
ul.pager li.pager-current, ul.pager li a:hover {
	background: #369;
	padding: 5px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;	
}
div.links {
	margin: 10px 0;
	float: none;
}
div.links ul.links li a, .more-link a {
	padding: 5px;
	background: #40b4c4;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	margin:0;
}
.more-link {
	margin: 5px 0;
}
div.links ul.links li a:hover, .more-link a:hover {
	background: #369;
}
div.links ul.links li {
	padding: 0;
	margin: 0;
	float: right;
}
div.links ul.links li.addtoany {
	float: left;
	margin: 0 10px;
	padding: 0;
}
div.links ul.links li.addtoany a {
	background: none;
	margin: 0;
	padding: 0;
}
.date {
	padding: 5px;
	color: #40b4c4;
	width: 50px;
	text-align: center;
	line-height: 12px;
	float: right;
	clear: none;
	font-weight: bold;
}
.terms {
	font-weight: bold;
}
span.submitted {
	font-style: oblique;
}
#comments {
	width: 650px;
	float: right;
}
#comments h2.comments {
  	margin: 0;
  	padding: 10px;
}
.comment {
  	padding: 5px 10px 10px;
  	background: #fff;
	border: 2px solid #40b4c4;
	margin-bottom: 10px;
	float: none;
}
.node .content, .comment .content {
  	margin: 0.6em 0;
}
#comments .date {
	padding: 5px;
	border: 2px solid #40b4c4;
	color: #40b4c4;
	width: 30px;
	text-align: center;
	line-height: 12px;
	float: left;
	margin-left: -48px;
	margin-top: 0px;
	clear: none;
	font-weight: bold;
	background: #fff;
}
.new {
	color: #f00;
	margin-left: 2px;
}
#tabs-wrapper ul {
	clear: both;
}
#tabs-wrapper ul, #tabs-wrapper li {
	float: left;
}
#imce-content {
	background: #eee;
}
#userpicture img{
	float: left;
	clear: left;
	width: auto;
	margin-right: 10px;
	margin-bottom: 10px;
	height: auto;
}
#commentcontent {
	float: left;
	clear: right;
	height: auto;
	max-width: 450px;
}
.comment ul.links {
	float: left;
	clear: left;
}
.clear-block {
  margin: 5px;
}
.comment span.submitted {
	float: left;
}
blockquote {
	border-left: 2px solid #40b4c4;
	background: #eee;
	padding: 5px;
}
#contentcontainer .view-tweets ul li {
	list-style-image: url("images/twitter-list-item.png");
	margin-left: 13px;
	margin-top: 5px;
}
